[user]
	name = Philipp Schlunder
	email = philipp.schlunder@udo.edu
[push]
	default = simple

[alias]
	s = status
	c = commit
	cm = commit -m 
	b = branch
	ba = branch -a
	# ibab/dotfiles
	lg = log --pretty=oneline --abbrev-commit --decorate
	# files that changed
	df = diff HEAD^1 HEAD --name-only
